
  <!-- events-index -->
  <div class="jumbotron  bg-transparent text-center mh-100px">
     <img src="assets/img/burger2.png" alt="burger image" class = "mw-200 mh-200 bg-orange">
    <h2>BURGERS! NOM!NOM! NOM!</h2>
  </div>

  <div class="row">
      <div class="col-sm-4 ">
        <ul class="list-group">
          {{#each burgers}}
            {{#unless devoured}}
              <li class = "list-group-item text-center  freshBurger">{{this.id}}. {{this.burger_name}} 
              </li>               
            {{/unless}}
          {{/each}}
        </ul> 
      </div>

      <div class="col-sm-4 ">
        <ul class="list-group pt-1"></ul>
          {{#each burgers}}
            {{#unless devoured}}
              <li class = "py-1"><button class = "btn btn-primary devourBtn " data-id="{{id}}">Devour Me!</button></li>             
            {{/unless}}
          {{/each}}
          </ul>
      </div>

      <div class="col-sm-4 ">
          <ul class="list-group">
            {{#each burgers}}
              {{#if devoured}}
                <li class = "list-group-item text-center devouredBurger">{{this.id}}. {{this.burger_name}}
                </li>
              {{/if}}
            {{/each}}
          </ul> 
      </div>
  </div>


  <h2 class = "text-center">Add A Burger!</h2>
  <form class="create-form text-center">
    <label for="burg">Burger Name:</label>
    <input type="text" id = "burg" name = "burgerName">

    <button type="submit" class = "btn btn-secondary submitBtn">Add Burger</button>
  </form>


